.main{
    height: 100vh;
    width: 100vw;
    background-color: #52eef3;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}